.modal {
  padding: 1.1rem;
  border-radius: 10px;
}

.spinnerContainer {
  width: 100%;
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  display: flex;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  width: 100%;
  justify-content: center;
}

.label {
  font-size: 14px;
  margin-bottom: 3px;
  font-weight: bold;
  color: #222;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #fff;
}

.button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #ddd;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.thumbsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.error {
  font-size: 20px;
  align-self: center;
  color: red;
}

.thumb {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 30%;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

.thumbInner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0px;
  overflow: hidden;
}

.img {
  display: block;
  width: auto;
  height: 100%;
}

.registerButton {
  background-color: #880e4f;
  border: 2px solid #550731;
}

.closeIcon {
  cursor: pointer;
}

@media (max-width: 768px) {
  .spinnerContainer {
    min-height: 70vh;
    min-width: 70vw;
  }

  .thumb {
    width: 45%;
  }

  .contentContainer {
    min-height: 70vh;
  }
}
