.container {
  width: 100%;
  flex: 1;
  height: calc(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerCard {
  background-color: #ddd;
  border-radius: 10px;
  padding: 15px;
  border: 1px #999 solid;
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.logo {
  width: 30%;
  align-self: center;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  justify-content: center;
}

.label {
  font-size: 14px;
  margin-bottom: 3px;
  font-weight: bold;
  color: #222;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: #fff;
}

.button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #ddd;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.registerButton {
  margin-top: 20px;
  background-color: #880e4f;
  border: 2px solid #550731;
}

.loginButton {
  background-color: #128108;
  border: 2px solid #0c5705;

  background-color: #128108;
  border: 2px solid #0c5705;
}

.divider {
  width: 99%;
  align-self: center;
  border: none;
  margin: 6px 0px;
  border-top: 1px solid #777;
}

.alert {
  color: red;
  font-weight: bold;
  font-size: 0.8em;
  min-height: 35px;
}

@media (min-width: 1440px) {
  .alert {
    font-size: 1.2rem;
  }
}

@media (max-width: 1440px) {
  .registerCard {
    width: 40vw;
  }
}

@media (max-width: 1024px) {
  .registerCard {
    width: 50vw;
  }
}

@media (max-width: 768px) {
  .registerCard {
    width: 60vw;
  }
}

@media (max-width: 425px) {
  .registerCard {
    width: 90vw;
  }
}
