.container {
  display: flex;

  width: 100%;
  height: calc(100% - 60px);
}

.addFab {
  width: 65px;
  height: 65px;
  border-radius: 40px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0px;
  cursor: pointer;
}

.cancelFab {
  width: 65px;
  height: 65px;
  border-radius: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0px;
  cursor: pointer;
}

.helpFab {
  width: 65px;
  height: 65px;
  border-radius: 40px;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0px;
  cursor: pointer;
}

.fabsContainer {
  padding: 4px 0px;
  position: absolute;
  bottom: 40px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fab:active {
  background-color: darkgreen;
}

.calloutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 6px 0px;
}

.calloutTitle {
  font-size: 16px;
  font-weight: bold;
}

.calloutAddress {
  font-size: 14px;
}

.calloutPrice {
  font-size: 12px;
  font-weight: bold;
  color: darkgreen;
}

.calloutButton {
  color: white;
  background-color: darkorchid;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.calloutButton:active {
  background-color: rgb(136, 44, 182);
  transform: translateY(+1px);
}

.loader {
  width: 40px;
  height: 40px;
  animation: spin 2000ms infinite linear;
  position: absolute;
  top: calc(80px);
  left: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
