.navbar {
  width: 100%;
  top: 0px;
  left: 0px;
  height: 60px;
  background-color: rgba(90, 90, 90, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 0px 10%;
}

.group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  background-color: rgba(90, 90, 90, 0.2);
  height: 50px;
  font-size: 16px;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0px;
  }
}
